.services {
    max-width: 1440px;
    padding: 60px 148px;
    margin: 0 auto;
}

.services h2 {
    color: #DD3142;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 4.6px;
    text-transform: uppercase;
}

.header {
    display: flex;
}

.services h3 {
    color: var(--grey-scale-black, #191825);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 1rem;
}


/* resonsive */

@media screen and (max-width: 768px) {
    .services {
        padding: 40px 20px;
    }

    .left {
        width: 65%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-right: 20px;
    }

    .left h3 {
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        ;
    }

    .left h2 {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .left h3 {
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        ;
    }

    .left h2 {
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }
}