.root:hover {
    background-color: #b01b2a !important;
}

.outline:hover {
    background-color: #b01b2a !important;
    color: white !important;
}

.primary:hover {
    background-color: #17478f !important;
}

.active {
    transition: all 1s;
}

.root:hover .active {
    transform: rotate(45deg) !important;
    rotate: 180deg !important;
}

.round {
    border-radius: 50% !important;
    height: 70px !important;
    width: 70px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.success:hover {
    background-color: rgb(30, 176, 30) !important;
}

@media only screen and (max-width: 768px){
    .outline{
        font-size: 20px !important;
    }
}