.hero {
    display: flex;
    background-color: #fbfbfb;
    align-items: center;
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 0px;
}

.hero .description_container {
    padding-left: 150px;
    width: 45%;
    z-index: 1;
}

.hero .description_container h1 {
    font-family: Arial, sans-serif;
    color: #2B69C6;
    font-size: 115px;
    line-height: 70px;
    margin-bottom: 30px;
}

.hero .description_container h1 span:nth-child(1) {
    color: #DD3142;
}

.hero .description_container h1 span:nth-child(2) {
    font-size: 61px;
    color: #000;
}

.hero .description_container .description {
    width: 450px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #222;
    font-weight: 600;
    margin-bottom: 60px;
}

.hero .image_container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero .image_container {
    margin-left: 900px;
}

.hero .image_container.animate__slideInRight {
    margin-left: 0;
    animation-duration: 1s;
}


/* Responsive  */

@media screen and (min-width: 768px) {
    .hero .image_container img:nth-child(2) {
        display: none;
    }
}


@media screen and (max-width: 1024px) {
    .hero .description_container h1 {
        font-size: 60px;
        margin: 0px;
        margin-bottom: 20px;
        z-index: 10;
    }

    .hero .image_container {
        width: 100%;
        object-fit: contain;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }

    .hero .description_container {
        padding-left: 0px;
        width: 100%;
    }

    .hero .description_container .description {
        width: 80%;
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        padding: 0px 20px;
        margin-bottom: 40px;
    }

    .btn {
        padding: 0px 20px;
    }

    .hero .description_container h1 {
        font-size: 70px;
        margin: 0px;
        margin-bottom: 20px;
    }

    .hero .description_container h1 span:nth-child(2) {
        line-height: 140.688%;
    }

    .hero .image_container img:nth-child(1) {
        display: none;
    }

    .hero .image_container img:nth-child(2) {
        margin-top: 40px;
    }


}