.about {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    padding: 0px 148px;
}

.about img {
    width: 100%;
}

.info {
    position: absolute;
    top: 20%;
    padding: 0 45px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info span {
    color: #2B69C6;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.info h2 {
    color: #DD3142;
    font-family: Poppins;
    font-size: 67px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info h4 {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 35%;
}

.about .about_img {
    display: none;
}


/* Responsive Design */

/* Mobile CSS */

@media only screen and (max-width: 768px) {
    .about {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
        order: 2;
    }

    .about img {
        display: none;
    }

    .about .about_img {
        display: flex;
        order: 2;
    }

    .about .info {
        display: flex;
        position: relative;
        order: 1;
        padding: 0;
        margin-bottom: 30px;
    }

    .about .info h2 {
        font-size: 45px;
        margin-bottom: 20px;
    }

    .about .info h4 {
        width: 100%;
        font-size: 14px;
        margin-bottom: 20px;
    }
}