.container{
    width: 1440px;
    margin: 0 auto;
    padding: 60px 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .header{
    width: 400px;
    padding: 20px 10px;
}
.container .header h1{
    font-family: Arial, sans-serif;
    font-size: 60px;
    margin-bottom: 80px;
}
.container .header .description{
    width: 350px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
}
.container .gallery{
    width: 55%;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.container .gallery .left_side{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.container .gallery .right_side{
    width: 100%;
    display: flex;
    margin: 0 30px;
}

/* Responsive CSS */

/* Mobile CSS */

@media only screen and (max-width: 768px){
    .container{
        width: 100%;
        padding: 40px 20px;
        flex-direction: column;
    }
    .container .header{
        padding: 23px;
    }
    .container .header h1{
        width: 350px;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .container .header .description{
        margin-bottom: 40px;
    }
    .container .gallery{
        margin: 0;
        width: 100%;
    }
    .container .gallery .left_side{
        gap: 25px;
    }
    .container .gallery .left_side img{
        width: 160px;
    }
    .container .gallery .right_side{
        margin-left: 25px;
    }
    .container .gallery .right_side img{
        width: 165px;
        margin: 0;
    }
}