.image {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 148px;
    display: flex;
    position: relative;
}

.image img:nth-child(1) {
    z-index: 1;
    width: 800px;
}

.image img:nth-child(2) {
    position: absolute;
    bottom: 0;
    z-index: 1;
    opacity: .9;
    right: 250px;
}