* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

.accordion__item {
  border: none !important;
}

.slick-slider {
  position: relative !important;
}



.slick-prev {
  z-index: 10 !important;
}